
.flex-container{
    background-color: rgb(36, 145, 145);
    margin-left:0px;
    height:800px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-around;
    width: 750px;
    flex-wrap: wrap;
    
    
    
    



}
.square1{
   background-color: aliceblue; 
    margin: 10px;
    border-radius: 5px ;
    height: 150px;
    width:150px ;
     text-align: center;
     margin-top: 60px;
    

    

}

 .square2{
     background-color: aliceblue; 
      margin:10px;
      border-radius: 5px ;
      height: 150px;
      width:150px ;
      text-align: center;
      
 }
 .square3{
    background-color: aliceblue; 
     margin: 10px;
     border-radius: 5px ;
     height: 150px;
     width:150px ;
     text-align: center;
    
} 
  
 .logo{
    padding: 10px;
    height: 120px;

 }
 .king{
    padding-top: 20px;
    height: 100px;
    width: 100px;
 }
 .head{
    font-size: medium;
 }
 body{
     background-color: rgb(218, 159, 82);
     justify-content: center;

 }