@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
} 
.rating {
    color: gold; 
  }
  
  .rating i {
    margin-right: 5px; 
  }
  
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(205, 223, 107);
}
h1{
    margin-bottom: 700px;
    margin-right: -600px;
}
p{
    
}

.card .back img{
    max-width: 80px;
}

.container{
    height: 500px;
    width: 500px;
    background-color: rgb(13, 34, 58);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px;
}
.cards, .card, .view{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.cards .card {
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);

}

.cards .card .view{
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    background-color: #34c7b3;
    border-radius: 5px 0;
    transition: transform 0.25s linear;
    position: absolute;
    backface-visibility: hidden;
}


.card .card-back{
    transform: rotateY(-180deg);
    
}
.card .card-back img{
    max-width: 45px;
    
}
.card.flip .card-back{
    transform: rotateY(0);

}
.card.flip .card-front{
    transform: rotateY(180deg);
}

  .card.flip {
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }
  
  .card.shake {
    animation: shakeAnimation 0.5s;
  }
  
  @keyframes shakeAnimation {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(-5px);
    }
  }
  .card.flip {
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }
  
  .card.match {
    animation: matchAnimation 0.5s;
  }
  
  @keyframes matchAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .card.match {
    animation: matchAnimation 0.5s;
    background-color: yellow; 
  }
  
  @keyframes matchAnimation {
    0% {
      transform: scale(1);
      /* background-color: yellow;  */
    }
    50% {
      transform: scale(1.2);
      background-color: orange; 
    }
    100% {
      transform: scale(1);
      background-color: yellow;
    }
  }
  
