
.flex-container{
    background-color: rgb(36, 145, 145);
    margin-left: 100px;
    margin-right: 100px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-around;






}
.square1{
   background-color: aliceblue; 
    margin: 10px;
    border-radius: 5px ;
    height: 120px;
    width:120px ;
    text-align: center;
    margin-top: 50px;

}



