
.flex-container{
    background-color: rgb(36, 145, 145);
    height:650px;
    display: flex;

    flex-direction: row;
    justify-content: center;
    width: 700px;
    flex-wrap: wrap;
    
    



}
.square1{
   background-color: aliceblue; 
    margin: 10px;
    border-radius: 5px ;
    height: 150px;
    width:150px ;
    text-align: center;
    

}

.square1{
    background-color: aliceblue; 
     margin: 10px;
     border-radius: 5px ;
     height: 150px;
     width:150px ;
     text-align: center;
     
 
 }
 .square2{
     background-color: aliceblue; 
      margin: 10px;
      border-radius: 5px ;
      height: 150px;
      width:150px ;
      text-align: center;
      
 }
 .square3{
    background-color: aliceblue; 
     margin: 10px;
     border-radius: 5px ;
     height: 150px;
     width:150px ;
     text-align: center;
    
}
/* .flex-container1{
    flex-direction: row;
}
.flex-container2{
    flex-direction: row;
}
.flex-container3{
    flex-direction: row;
} */
  
 